/**
 Scrollbar hiding
  https://bootstrap-menu.com/detail-smart-hide.html

*/

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/** hide default scrolls */

body::-webkit-scrollbar {
  display: none;
}

* {
  line-height: 25pt;
}

/* Hide scrollbar for IE, Edge and Firefox */

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/***** Styling for Captions***/

.caption {
  font-size: 36pt;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}

.job-title {
  font-weight: bold;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  #home>img {
    width: auto;
    max-width: 100%;
    height: auto;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    /* you can change the value also */
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

section:nth-child(n+2) {
  min-height: 100vh;
  height: 100%;
  padding-top: 100px;
}

.icon-label {
  /* Label for icons */
  font-size: 18pt;
}

.icon.row {
  font-size: 18pt;
}

.label {
  font-size: 14pt;
  font-weight: bold;
}

.flex {
  /* Columns for icons */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex.row {
  flex-direction: row;
}

.section-header {
  /* Home, About, Resume, Contact*/
  position: relative;
  font-size: 24pt;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.transition-left-full {
  right: -1600px;
}

.transition-left {
  right: -800px;
}


.transition-right-full {
  left: -1600px;
}

.transition-right {
  left: -800px;
}

.transition-left-full, .transition-left, .transition-right-full,.transition-right {
  position: relative;
  transition: 1.5s;
}

.row-icon {
  position: relative;
  right: -1600px;
  transition: 1.5s;
}



.subsection-header, .job-company {
  font-size: 18pt;
}

.subsection-content {
  font-size: 12pt;
}

.section-header, .subsection-header, .subsection-content {
  text-align: center;
}



#about ul {
  padding: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.translate-right-full.triggeredCSS3 {
  transform: translate3d(1600px, 0, 0);
}

.translate-right.triggeredCSS3 {
  transform: translate3d(800px, 0, 0);
}

.translate-left-full.triggeredCSS3 {
  transform: translate3d(-1600px,0,0);
}

.translate-left.triggeredCSS3 {
  transform: translate3d(-800px,0,0);
}

/*Iphone X*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* STYLES GO HERE */
  .skills {
    font-size: 10pt;
  }
  .section-header {
    /* Home, About, Resume, Contact*/
    font-size: 25pt;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .subsection-header, .job-company {
    font-size: 16pt;
  }
  .subsection-content {
    font-size: 10pt;
  }
  .job-title {
    font-weight: bold;
  }
  .caption {
    font-size: 20pt;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .flex.icon-square.col {
    padding: 0 7px;
    overflow-wrap: anywhere;
  }
}

.icon-square {
  line-height: 15pt;
  text-align: center;
  height: 200px;
  padding: 0 10px;
}

#home {
  height: 100vh;
  width: 100vw;
}

.footer {
  padding-top: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.banner {
  background-image: url(./jonathan-simcoe.jpg);
  width: 100%;
  height: 100%;
  /* you can change the value also */
  -webkit-transform-origin: center;
  transform-origin: center;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
   on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
   while the background image is loading */
  background-color: #464646;
}