body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  font-family: "Raleway";
  font-size: 8pt;
  overflow-x: hidden;
  text-align: center;
}
